/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    background: #E55473;
 
}
.section.head{
    color: #272727;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-des{
    display: flex;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
border:0;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 20px 43px;

}

.section-description{


    font-size: 30px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-style: normal;
font-weight: 400;
    
}
/* nav related styles  */
.nav{
    justify-content: space-between;
    align-items: center;
    
    margin: 20px 200px;
    display: flex;
    .banner{
        display: flex;
        .image-move{
            display: flex;
        }
    }
    .image-right{
        display: flex;
    }

    
}
.div{
    display: flex;
}
.nav-title{
    padding: 30px 20px 25px 50px;
    
width: 708px;
flex-direction: column;
flex-shrink: 0;
display: flex;

    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.image-right{
    align-items: center;
    justify-content: right;
    display: flex;
    width: 635px;
height: 800px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.nav-pragraph{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
}
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
header related styles */
.header{
    background-color: aqua;
}
.banner{
 padding: 30px 30px 30px 150px;
 display: flex;
 align-items: center;   
}
.banner .profile-pic{
 width: 500px; 
 display: flex;  
}
/* main section styles */
.our{
    width: 1920px;
height: 4867px;
}
/* our section styles */
.section-title{
    padding: 100px;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
margin: 100px;
}
/* styles related styles */
.image-container{
    display: flex;
}
.image{
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
height: 428px;

}
.image-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.deal{
    padding: 150px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
margin: 130px;
}
.social-media{
    text-align: center;
}
.section-tit{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400
    

}
